@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* end of poem/verse/song */

/* custom */
[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: center;
}

[epub|type~="z3998:letter"] header p{
	margin-bottom: 1em;
	text-indent: 0;
}

#dedication,
#modeste-mignon {
	margin-top: 20vh;
}

#modeste-mignon blockquote:first-of-type footer {
	margin-left: 50%;
	text-align: initial;
}

#modeste-mignon blockquote:first-of-type footer p {
	padding-left: 1em;
	text-indent: -1em;
}

#modeste-mignon blockquote:nth-of-type(2) {
	font-variant: all-small-caps;
	text-align: center;
}

#modeste-mignon blockquote:nth-of-type(2) b {
	font-size: 1.15em;
}

#modeste-mignon blockquote:nth-of-type(2) p {
	text-indent: 0;
}


/* end of custom */